### Software requirements
## Nicht-funktionale Anforderungen:
- Die zu entwickelnde Software soll auf Windows, Linux und MacOS laufen.
- Die gesamte Software soll am Ende in einer .jar Datei enthalten sein.
- Das Spiel soll ohne zusätzlichen Files oder Installationen direkt über die .jar Datei gestartet werden können.
- Die Benutzeroberfläche soll leicht verständlich und intuitiv sein. 
- Die Wartezeiten zwischen den Spielzügen (würfeln, bewegen) soll minimal sein (wenn Möglich unter 200ms).

## Funktionale Anforderungen:
# Spielverwaltung:

- Die Software soll 4 Benutzer*innen gleichzeitig ermöglichen zu spielen.
- Von den 4 Benutzer*innen ist der*die, der*die die Lobby erstellt hat Admin. 
- Spieler*innen müssen sich mit einem selbst gewählten Benutzernamen anmelden können. 
- Die Software soll überprüfen, dass der gewählte Benutzernamen nicht bereits vergeben ist.
- Die Software soll eine Meldung wie "Dieser Benutzername ist bereits vergeben" ausgeben, sollte der Benutzername bereits vergeben sein. 
- Die Software soll 4 unterschiedliche Velos zur Verfügung stellen. 
- Die Spielenden müssen nach der Wahl des Benutzernamens eines der 4 Velos auswählen können.
- Das gleiche Velo soll mehrfach gewählt werden können. 
- Die Software soll den gewählten Benutzernamen während des Spiels über dem Velo des*der Spielers*Spielerin anzeigen. 
- Es soll einen Button "Ready" geben, auf den die Spielenden drücken können, sobald sie ihr Velo ausgewählt haben.
- Die Software soll über einen Button "Start" startbar sein.
- Die Software soll erst starten bzw. startbar sein, sobald alle Spieler*innen auf den "Ready"-Button gedrückt haben. 
- Die Software soll einen Chat bereitstellen, über welchen die Spielenden kommunizieren können während des Spiels.
- Die Software soll während des gesamten Spiels einen Button "Quit" bereitstellen, über den die einzelnen Spielenden das Spiel jeder Zeit verlassen können.
- Die Software soll, wenn der Button "Quit" gedrückt wird ein Fenster öffnen, in dem das Spiel den Spielenden fragt, ob er das Spiel wirklich verlassen will. Der*Die Spieler*in soll dann zur Auswahl 2 Buttons haben, einer "Yes" und einer "No". Wird der Button "Yes" gedrückt, soll das Spiel verlassen werden. Wird der Button "No" gedrückt, soll das Fenster sich wieder schliessen und der*die Spieler*in nicht aus dem Spiel geworfen werden. 
- Das Spiel soll weiterlaufen, auch wenn ein Spieler das Spiel verlässt. 
- Das Spiel soll beendet sein, sobald sich ein*e Spieler*in im Ziel befindet.

#Spielmechanik

- Das Spiel soll 6 Würfel beinhalten, auf deren 6 Seiten 6 verschiedene Farben (Gelb, Orange, Rot, Pink, Blau, Lila) abgebildet sind.
- Die Software soll einen Button bereitstellen über welchen der*die Spieler*in, der*die an der Reihe ist, würfeln kann. 
- Die Software soll dem*der Spieler*in, der*die gerade an Reihe ist, nach dem Würfeln ermöglichen auf die umliegenden Felder, entsprechend der Farben, die gewürfelt wurden zu klicken. Die angeklickte Felder sollen mit einer gut sichtbaren Farbe umrandet werden. Wird ein Feld angedrückt mit einer Farbe die man nicht gewürfelt oder für die man den/die Würfel mit der entsprechenden Farbe bereits verbraucht hat, soll das Feld kurz nicht mit der sichtbaren Farbe umrandet werden und eine Meldung "Du hast diese Farbe nicht" soll aufploppen. 
- Die Software soll einen Button "Move" bereitstellen, auf den der*die aktuelle Spieler*in, klicken kann, sobald sie mit den ausgewählten Feldern zufrieden ist. Anschliessend soll die Software das aktuelle Velo an die Position des vordersten der ausgewählten Felder verschieben. 
- Die Software soll einen Mechanismus beinhalten, der sobald die Move-Bewegung des*der aktuellen Spielers*Spielerin beendet ist, switcht, sodass der*die nächste Spieler*in reihum seinen*ihren Zug machen kann.
- Die Software soll einen Mechanismus beinhalten, welcher nach jedem Zug überprüft, ob sich der*die Spieler*in, der*die gerade an der Reihe war, im Ziel befindet. 
- Die Software soll eine Meldung auf dem Bildschirm aller ausgeben mit "'Benutzername' hat gewonnen!", wenn sich der*die erste Spieler*in im Ziel befindet.
- Die Software soll unter der Meldung wer gewonnen hat, für den Admin 2 Buttons zur Verfügung stellen. Einer "Restart", um ein neues Spiel zu starte und einer "Quit", um das Spiel zu verlassen.
- Wenn der*die Spieler*in, der*die an der Reihe ist 30 Sekunden lang nichts macht (weder würfelt noch ein Feld anklickt) soll eine Meldung erscheinen auf dem Bildschirm des*der aktuellen Spielers*Spielern mit "Du bist dran!".
Macht der*die Spieler*in 90 Sekunden lang nichts, ist automatisch der*die Nächste an der Reihe. 
